.drama {
    background-color: rgb(238, 239, 242);
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #a39898; /* 添加底部邊框線 */
    padding-bottom: 20px; /* 調整間距 */
}

.drama-img {
    width: 250px;
    height: 350px;
}

.detail-img {
    width: 250px;
    height: 350px;
}

.hot-drama-img {
    width: 120px;
    height: 180px;
}

.recommend-img {
    width: 100%; /* 設置圖片寬度為100% */
    height: 400px; /* 設置圖片高度為您想要的固定高度 */
    object-fit: cover; /* 保持圖片的寬高比並填滿圖片容器 */
}

.comment {
    margin-left: 50px;
    height: 500px; /* 設定固定高度 */
    width: 400px; 
    overflow-y: auto; /* 添加垂直滾動條 */
}

.drama_description {
    width: 400px;
}

.information {
    width: 400px;
}

.drama_list {
    width: 250px;
    height: 500px;
    margin: 30px;
}

.hot-drama {
    float: right;
    margin-right: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.categories-button {
    margin-left: 40px;
}

.recommend-drama {
    display: flex;
    justify-content: flex-start;
}

.login {
    margin: 0px auto; 
    border: 1px solid #a2b9d4;
    padding: 20px;
    max-width: 400px; /* 设置最大宽度，可以根据需要调整 */
}

.flash {
    margin: 20px 20px 0px 20px;
    min-height: 50px;
}