.drama {
    /* background-color: rgb(238, 239, 242); */
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #a39898; /* 添加底部邊框線 */
    padding-bottom: 20px; /* 調整間距 */
}

.drama-img {
    width: 250px;
    height: 350px;
}

.detail-img {
    width: 250px;
    height: 350px;
}

.hot-drama-img {
    width: 120px;
    height: 180px;
}

.recommend-img {
    width: 100%; /* 設置圖片寬度為100% */
    height: 400px;
    object-fit: cover; /* 保持圖片的寬高比並填滿圖片容器 */
}

.drama_description {
    width: 400px;
}

.information {
    width: 400px;
}

.drama_list {
    width: 250px;
    height: 500px;
    margin: 20px;
}

.hot-drama {
    float: right;
    margin-right: 20px;
}

.navbar {
    margin-bottom: 20px;
}

/* .categories-button {
    margin-left: 40px;
} */

.recommend-drama {
    display: flex;
    justify-content: flex-start;
}

.login {
    margin: 0px auto; 
    border: 1px solid #a2b9d4;
    padding: 20px;
    max-width: 400px;
}

.flash {
    margin: 20px 20px 0px 20px;
    min-height: 50px;
}

.drama-container-detail {
    margin: 20px;
}

.detail,
.information,
.drama_description,
.comment {
    background-color: rgb(238, 239, 242);
    margin: 10px;
    height: 550px;
    overflow-y: auto; /* 添加垂直滾動條 */
}

#rating-stars i {
    font-size: 24px; /* 星星大小 */
}

.rating-drama {
    overflow-x: auto;
}

.rating-drama-list {
    background-color: rgb(193, 216, 237);
    margin-bottom: 20px;
}