<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Drama List</h1>
    <h3>戲劇類型</h3>
    <button type="button" id="funnyButton" data-category="喜劇">喜劇</button>
    <button type="button" id="loveButton" data-category="愛情">愛情</button>
    <button type="button" id="warmthButton" data-category="溫馨/家庭">溫馨/家庭</button>
    <button type="button" id="animationButton" data-category="動畫">動畫</button>
    <button type="button" id="musicButton" data-category="音樂/歌舞">音樂/歌舞</button>
    <button type="button" id="historyButton" data-category="歷史/傳記">歷史/傳記</button>
    <button type="button" id="warButton" data-category="戰爭">戰爭</button>
    <button type="button" id="documentaryButton" data-category="紀錄片">紀錄片</button>
    <button type="button" id="inspirationalButton" data-category="勵志">勵志</button>
    <button type="button" id="martialButton" data-category="武俠">武俠</button>
    <button type="button" id="adventureButton" data-category="冒險">冒險</button>
    <button type="button" id="scienceButton" data-category="科幻">科幻</button>
    <button type="button" id="fantasyButton" data-category="奇幻">奇幻</button>
    <button type="button" id="plotButton" data-category="劇情">劇情</button>
    <button type="button" id="crimeButton" data-category="犯罪">犯罪</button>
    <button type="button" id="horrorButton" data-category="恐怖">恐怖</button>
    <button type="button" id="thrillerButton" data-category="懸疑/驚悚">懸疑/驚悚</button>

    <div class="hot-drama">
        <h3>Top 10:</h3>
        {% for hot in hot_drama %}
            <h3>{{ hot.detail[0].name }}</h3>
            <a href="/api/v1/detail/{{ hot.detail[0].name }}">
                <img src="{{ hot.detail[0].image }}" alt="{{ hot.detail[0].name }}" class="hot-drama-img">
            </a> 
            <p>討論文章數量：{{ hot.count }}</p>
        {% endfor %}
    </div>

    <div class="drama-container">
        {% for drama in dramas %}
        <div class="drama_list">
            <div class="detail">
                <a href="/api/v1/detail/{{ drama.name }}">
                    <img src="{{ drama.image }}" alt="{{ drama.name }}" class="drama-img">
                </a>
                <h3>{{ drama.name }}</h2>
                <p>{{ drama.eng_name }}</h3>
                <p>類別：{{ drama.categories | join(", ") }}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <script src="/static/scripts.js"></script>
</body>
</html>
