<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #01090f;" >
        <div class="container-fluid">
          <h1 class="text-white">Watch Next</h1>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/">首頁</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/dashboard/">戲劇討論趨勢</a>
              </li>
              {% if current_user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link text-white" href="/member/recommendation">會員專區</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="/logout">登出</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link text-white" href="/login">登入</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="/signup">註冊</a>
                </li>
              {% endif %}
          </ul>
            </ul>
            <!-- <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-sm btn-outline-secondary text-white" type="button">Search</button>
            </form> -->
          </div>
        </div>
    </nav>
    <div class="drama-container-detail">
        {% for drama in dramas %}
        <div class="drama row">
            <div class="detail col p-3 text-center">
                <h2>🍿{{ drama.name }}🍿</h2>
                <p>{{ drama.eng_name }}</p>
                <img src="{{ drama.image }}" alt="{{ drama.name }}" class="detail-img">
                {% if current_user.is_authenticated %}
                <div>
                    {% if score %}
                      <p style="display: inline;">你的評分：</p>
                      <p id="score" style="display: inline;">{{ score }}</p>
                    {% else %}
                      <p>你的評分：尚未評分</p>
                    {% endif %}
                    <div id="rating-stars" data-movie-name="{{ drama.name }}">
                        <i class="fas fa-star" data-star="1"></i>
                        <i class="fas fa-star" data-star="2"></i>
                        <i class="fas fa-star" data-star="3"></i>
                        <i class="fas fa-star" data-star="4"></i>
                        <i class="fas fa-star" data-star="5"></i>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="information col p-3">
                <h4 class="text-center">詳細資訊</h4>
                {% if drama.categories %}
                  <p>🔎類別：{{ drama.categories | join(", ") }}</p>
                {% else %}
                  <p></p>
                {% endif %}
                {% for detail in drama.detail[1:] %}
                    <p>🔎{{ detail }}</p>
                {% endfor %}
            </div>
            <div class="drama_description col p-3">
                <h4 class="text-center">劇情簡介</h4>
                {% for drama in dramas %}
                    <p>{{ drama.description }}</p>
                {% endfor %}
            </div>
            <div class="comment col p-3">
                <h4 class="text-center">網友討論</h4>
                {% if drama.comments %}
                {% for article in drama.comments %}
                    <a href="{{ article.url }}">
                        <h6>{{ article.title }}</h6>
                    </a>
                    <p>{{ article.release_time }}</p>
                    {% for comment in article.comments[:7] %}
                        <p>{{ comment }}</p>
                    {% endfor %}  
                {% endfor %}
                {% else %}
                    <p class="text-center">~目前尚無評論~</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    <p class="text-center blockquote">推薦戲劇</p>
    <div class="row">
        {% for drama in recommend_drama %}
            <div class="col-md-3"> <!-- 每個卡片佔用4分之1的寬度-->
                <div class="card" style="width: 18rem;">
                    <a href="/api/v1/detail/{{ drama.name }}">
                        <img src="{{ drama.image }}" class="card-img-top recommend-img" alt="{{ drama.name }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ drama.name }}</h5>
                        <p class="card-text">{{ drama.comment_count }}篇討論文</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    

    <script src="/static/scripts.js"></script>
</body>
</html>
