<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <title>Watch Next</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="fixed-top">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #00416A;" >
      <div class="container-fluid">
        <a class="nav-link text-white" href="/" style="padding: 0px">
          <h1 class="text-white", style="margin-bottom: 0px">Watch Next</h1>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto">
            <form id="search" class="d-flex" role="search">
              <input id="search-input" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button id="search-button" class="btn btn-sm btn-outline-secondary text-white " type="button">Search</button>
            </form>
            <li class="nav-item">
              <a class="nav-link active text-white" aria-current="page" href="/">首頁</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/dashboard/">戲劇討論趨勢</a>
            </li>
            {% if current_user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link text-white" href="/member/recommendation">會員專區</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/logout">登出</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link text-white" href="/login">登入</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/signup">註冊</a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="row g-0 text-center" style="margin-top: 100px">
    <div class="col-sm-6 col-md-10">
      <div class="text-center">
        <button type="button" id="funnyButton" data-category="喜劇" class="btn btn-outline-primary btn-sm">喜劇</button>
        <button type="button" id="loveButton" data-category="愛情" class="btn btn-outline-primary btn-sm">愛情</button>
        <button type="button" id="warmthButton" data-category="溫馨/家庭" class="btn btn-outline-primary btn-sm">溫馨/家庭</button>
        <button type="button" id="animationButton" data-category="動畫" class="btn btn-outline-primary btn-sm">動畫</button>
        <button type="button" id="musicButton" data-category="音樂/歌舞" class="btn btn-outline-primary btn-sm">音樂/歌舞</button>
        <button type="button" id="historyButton" data-category="歷史/傳記" class="btn btn-outline-primary btn-sm">歷史/傳記</button>
        <button type="button" id="warButton" data-category="戰爭" class="btn btn-outline-primary btn-sm">戰爭</button>
        <button type="button" id="documentaryButton" data-category="紀錄片" class="btn btn-outline-primary btn-sm">紀錄片</button>
        <button type="button" id="inspirationalButton" data-category="勵志" class="btn btn-outline-primary btn-sm">勵志</button>
        <button type="button" id="martialButton" data-category="武俠" class="btn btn-outline-primary btn-sm">武俠</button>
        <button type="button" id="adventureButton" data-category="冒險" class="btn btn-outline-primary btn-sm">冒險</button>
        <button type="button" id="scienceButton" data-category="科幻" class="btn btn-outline-primary btn-sm">科幻</button>
        <button type="button" id="fantasyButton" data-category="奇幻" class="btn btn-outline-primary btn-sm">奇幻</button>
        <button type="button" id="plotButton" data-category="劇情" class="btn btn-outline-primary btn-sm">劇情</button>
        <button type="button" id="crimeButton" data-category="犯罪" class="btn btn-outline-primary btn-sm">犯罪</button>
        <button type="button" id="horrorButton" data-category="恐怖" class="btn btn-outline-primary btn-sm">恐怖</button>
        <button type="button" id="thrillerButton" data-category="懸疑/驚悚" class="btn btn-outline-primary btn-sm">懸疑/驚悚</button>
      </div>
      <div class="drama-display row">
        {% for drama in dramas %}
        <div class="col-lg-4 col-md-6 col-sm-12">
          <div class="card drama_list" style="width: 18rem;">
            <a href="/api/v1/detail/{{ drama._id }}">
              <img src="{{ drama.image }}" alt="{{ drama.name }}" class="drama-img">
            </a>
            <div class="card-body">
              <h6 class="card-title">{{ drama.name }}</h6>
              <p class="card-text">{{ drama.eng_name }}</p>
              {% for category in drama.categories %}
                <span class="badge rounded-pill bg-primary text-white">{{ category }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-6 col-md-2">
      <div class="hot-drama">
        <h3>Top 10</h3>
        <h6>討論熱度總排行</h6>
        {% for hot in hot_drama %}
          <a href="/api/v1/detail/{{ hot.detail[0]._id }}">
            <img src="{{ hot.detail[0].image }}" alt="{{ hot.detail[0].name }}" class="hot-drama-img">
          </a>
          <h6>{{ hot.detail[0].name }}</h6>
          <p>{{ hot.count }}篇討論文</p>
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="pagination" class="pagination justify-content-center">{{ pagination.links }}</div>

  <script src="/static/scripts.js"></script>
</body>
</html>
